<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="radio" id="male" name="gender" value="男" v-model="sex">
    <label for="male">男</label>
    <input type="radio" id="female" name="gender" value="女" v-model="sex">
    <label for="female">女</label>
    <h1>你选择的性别是：{{sex}}</h1>
  </div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      sex: ''
    },
    methods: {
      alert(event) {
        console.log(event.target.attributes.id.value)
      }
    }
	})
</script>
</body>
</html>