<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="item in info">{{item}}</li>
    </ul>
    <ul>
      <li v-for="(value, key) in info">{{key}}: {{value}}</li>
    </ul>
    <ul>
      <li v-for="(value, key, index) in info">{{index}}.{{key}}: {{value}}</li>
    </ul>
  </div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      info: {
        name: 'lch',
        age: 19,
        height: 1.88,
        habbit: {
          game: 'a',
          music: 'b',
          book: 'c'
        }
      }
    },
    methods: {
      
    }
	})
</script>  
</body>
</html>